@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2,
p,
li {
  color: #fff;
  letter-spacing: 0.25px;
}

li {
  list-style: none;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 26px;
  font-weight: 400;
}

p {
  font-size: 19px;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.red__btn {
  background-color: #e50914;
  border: 1px solid #111;
}

.container {
  padding: 40px 0;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
section,
footer {
  background-color: #000;
}

.section__line {
  border: 5px solid #313131;
}

.background__img {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("../assets/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 72vh;
}

.parts__description {
  margin-top: 20px;
}

.part__img {
  width: 100%;
}

.part__width {
  width: 50%;
}

/* NAV */

.nav__header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 96px;
  width: 162px;
  margin-left: 56px;
}

.nav__language,
.nav__sign--in {
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  height: 36px;
  width: 94px;
  color: #fff;
  transition: all 300ms ease;
}

.nav__wrapper--right {
  display: flex;
  margin-right: 32px;
  align-items: center;
}

.nav__language {
  margin-right: 28px;
  background-color: transparent;
  border: 1px solid white;
}

.nav__sign--in:hover {
  transform: scale(1.1);
}

.nav__language:active,
.nav__sign--in:active {
  transform: scale(0.95);
}

.fa-caret-down {
  margin-left: 4px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.nav__language--menu {
  padding: 4px 8px;
  background: none;
  border: 1px solid #ffffff;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  width: 94px;
  color: #9fa5b5;
  position: absolute;
  visibility: none;
  z-index: -1;
}

.nav__language--menu--open .nav__language--menu {
  z-index: 60;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.nav__language--list {
  padding: 4px;
  margin: 4px 0;
  border-radius: 8px;
  cursor: not-allowed;
}

.nav__language--list:hover {
  background: #2a2d35;
}

.part {
  display: flex;
  width: 100%;
}

/* LANDING PAGE */

.landing__page {
  display: flex;
  justify-content: center;
}

.landing__page--description {
  padding: 75px 0;
  width: 100%;
  max-width: 640px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.landing__page--h2 {
  margin: 16px 0;
}

.landing__page--p {
  margin: 12px 0;
}

.email__form {
  display: flex;
  margin-top: 16px;
}

.email__btn,
.input__email {
  height: 60px;
  border-radius: 2px;
}

.email__btn {
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  padding: 0 16px;
  width: 212px;
  transition: all 300ms ease;
}

.email__btn:hover {
  background-color: #fc212c;
}

.email__btn:active {
  font-size: 25px;
}

.fa-chevron-right {
  margin-left: 8px;
  font-size: 24px;
}

.input__email {
  width: 450px;
  border: 1px solid #111;
  border-right: none;
}

.form__item input {
  font-size: 16px;
  color: #808080;
  font-weight: 400;
  padding-left: 12px;
  outline: none;
}

.input__email:focus {
  color: #000;
}

/* PART 1*/

.part__one--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 36px;
}

/* PART 2 */

.part__two--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36px;
}

/* PART 3 */

.part__three--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 36px;
}

/* PART 4 */

.part__four--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36px;
}

/* FAQ */

.faq {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.faq__header {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}

.faq__container {
    max-width: 815px;
    margin: 0 auto;
    list-style-type: none;
}

.faq__btn {
    width: 100%;
    height: 100%;
    text-align: start;
    font-size: 26px;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

.faq__list {
  display: flex;
  position: relative;
  margin-bottom: 8px;
}

.fa-plus {
  display: flex;
  align-items: center;
  position: absolute;
  top: 38%;
  right: 4%;
  cursor: pointer;
}

.faq__membership {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.faq__email--form {
  display: flex;
  justify-content: center;
  margin: 20px 0 32px 0;
  
}

/* FOOTER */

.footer__para,
.footer__link--description {
  font-size: 14px;
}

.footer__para {
  color: #737373;
}

.footer__copyright {
  display: flex;
  justify-content: start;
  color: #737373;
  font-weight: 900;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.footer__link {
  width: 25%;
  margin: 8px 0;
}

.footer__link-description {
  color: #737373;
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--black:hover:after {
  background-color: #737373;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}